In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/afoone/caipc-mar-2023/master/data/Ecom%20Expense.csv')

In [4]:
df.head()

,Transaction ID,Age,Items,Monthly Income,Transaction Time,Record,Gender,City Tier,Total Spend
0,TXN001,42,10,7313,627.668127,5,Female,Tier 1,4198.385084
1,TXN002,24,8,17747,126.904567,3,Female,Tier 2,4134.976648
2,TXN003,47,11,22845,873.469701,2,Male,Tier 2,5166.614455
3,TXN004,50,11,18552,380.219428,7,Female,Tier 1,7784.447676
4,TXN005,60,2,14439,403.374223,2,Female,Tier 2,3254.160485

In [5]:
df.describe()

,Age,Items,Monthly Income,Transaction Time,Record,Total Spend
count,2362.000000,2362.000000,2362.000000,2362.000000,2362.000000,2362.000000
mean,40.084674,7.884843,15962.884843,497.429603,4.928874,6163.176416
std,11.973412,4.283014,8046.517234,286.065147,3.084855,2799.772060
min,20.000000,1.000000,2003.000000,0.463297,0.000000,1099.815246
25%,30.000000,4.000000,9086.750000,253.443599,2.000000,3949.683101
50%,40.000000,8.000000,15764.000000,495.098046,5.000000,5602.193897
75%,51.000000,12.000000,23056.750000,745.833710,7.750000,8046.755618
max,60.000000,15.000000,30000.000000,1000.697201,10.000000,13944.048160

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2362 entries, 0 to 2361
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    2362 non-null   object
 1   Age               2362 non-null   int64
 2    Items            2362 non-null   int64
 3   Monthly Income    2362 non-null   int64
 4   Transaction Time  2362 non-null   float64
 5   Record            2362 non-null   int64
 6   Gender            2362 non-null   object
 7   City Tier         2362 non-null   object
 8   Total Spend       2362 non-null   float64
dtypes: float64(2), int64(4), object(3)
memory usage: 166.2+ KB

In [7]:
df['Gender'].value_counts()

Male      1200
Female    1162
Name: Gender, dtype: int64

In [8]:
df['City Tier'].value_counts()

Tier 1    815
Tier 2    782
Tier 3    765
Name: City Tier, dtype: int64

In [10]:
df['Gender'].apply(lambda x: 1 if x == 'Male' else 0) # no se hace asi

0       0
1       0
2       1
3       0
4       0
       ..
2357    1
2358    1
2359    0
2360    0
2361    1
Name: Gender, Length: 2362, dtype: int64

In [12]:
gender_dummies = pd.get_dummies(df['Gender'], prefix='gender')

In [13]:
gender_dummies

      gender_Female  gender_Male
0                 1            0
1                 1            0
2                 0            1
3                 1            0
4                 1            0
...             ...          ...
2357              0            1
2358              0            1
2359              1            0
2360              1            0
2361              0            1

[2362 rows x 2 columns]

In [14]:
tier_dummies = pd.get_dummies(df['City Tier'], prefix='tier')

In [15]:
tier_dummies

      tier_Tier 1  tier_Tier 2  tier_Tier 3
0               1            0            0
1               0            1            0
2               0            1            0
3               1            0            0
4               0            1            0
...           ...          ...          ...
2357            0            1            0
2358            0            1            0
2359            0            0            1
2360            1            0            0
2361            1            0            0

[2362 rows x 3 columns]

In [16]:
df = df.join(gender_dummies).join(tier_dummies)

In [17]:
df

,Transaction ID,Age,Items,Monthly Income,Transaction Time,Record,Gender,City Tier,Total Spend,gender_Female,gender_Male,tier_Tier 1,tier_Tier 2,tier_Tier 3
0,TXN001,42,10,7313,627.668127,5,Female,Tier 1,4198.385084,1,0,1,0,0
1,TXN002,24,8,17747,126.904567,3,Female,Tier 2,4134.976648,1,0,0,1,0
2,TXN003,47,11,22845,873.469701,2,Male,Tier 2,5166.614455,0,1,0,1,0
3,TXN004,50,11,18552,380.219428,7,Female,Tier 1,7784.447676,1,0,1,0,0
4,TXN005,60,2,14439,403.374223,2,Female,Tier 2,3254.160485,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2357,TXN2358,50,7,5705,460.157207,3,Male,Tier 2,2909.619546,0,1,0,1,0
2358,TXN2359,35,11,11202,851.924751,8,Male,Tier 2,7968.633136,0,1,0,1,0
2359,TXN2360,27,5,21335,435.145358,8,Female,Tier 3,8816.406448,1,0,0,0,1
2360,TXN2361,45,12,19294,658.439838,7,Female,Tier 1,7915.595856,1,0,1,0,0
2361,TXN2362,46,7,2855,560.514341,8,Male,Tier 1,6832.401686,0,1,1,0,0

In [19]:
df.corr(numeric_only=True)

,Age,Items,Monthly Income,Transaction Time,Record,Total Spend,gender_Female,gender_Male,tier_Tier 1,tier_Tier 2,tier_Tier 3
Age,1.000000,0.016626,0.010164,-0.007045,0.003397,0.033610,0.026996,-0.026996,-0.015177,0.028467,-0.013209
Items,0.016626,1.000000,-0.013364,-0.020551,0.012683,0.067042,-0.006959,0.006959,0.035742,0.006314,-0.042659
Monthly Income,0.010164,-0.013364,1.000000,-0.044855,0.018491,0.438623,-0.005637,0.005637,-0.015803,-0.004128,0.020205
Transaction Time,-0.007045,-0.020551,-0.044855,1.000000,-0.005044,-0.005610,-0.038704,0.038704,0.006533,-0.005512,-0.001094
Record,0.003397,0.012683,0.018491,-0.005044,1.000000,0.857675,0.015554,-0.015554,0.012696,-0.021404,0.008628
Total Spend,0.033610,0.067042,0.438623,-0.005610,0.857675,1.000000,-0.036481,0.036481,0.023415,-0.006640,-0.017109
gender_Female,0.026996,-0.006959,-0.005637,-0.038704,0.015554,-0.036481,1.000000,-1.000000,0.003662,-0.001277,-0.002436
gender_Male,-0.026996,0.006959,0.005637,0.038704,-0.015554,0.036481,-1.000000,1.000000,-0.003662,0.001277,0.002436
tier_Tier 1,-0.015177,0.035742,-0.015803,0.006533,0.012696,0.023415,0.003662,-0.003662,1.000000,-0.510633,-0.502356
tier_Tier 2,0.028467,0.006314,-0.004128,-0.005512,-0.021404,-0.006640,-0.001277,0.001277,-0.510633,1.000000,-0.486915
tier_Tier 3,-0.013209,-0.042659,0.020205,-0.001094,0.008628,-0.017109,-0.002436,0.002436,-0.502356,-0.486915,1.000000

In [20]:
df.columns

Index(['Transaction ID', 'Age ', ' Items ', 'Monthly Income',
       'Transaction Time', 'Record', 'Gender', 'City Tier', 'Total Spend',
       'gender_Female', 'gender_Male', 'tier_Tier 1', 'tier_Tier 2',
       'tier_Tier 3'],
      dtype='object')

In [21]:
X = df [[ 'Age ',  'Monthly Income',

       'gender_Female', 'gender_Male', 'tier_Tier 1', 'tier_Tier 2',
       'tier_Tier 3']].copy()

In [22]:
y = df['Total Spend']

In [23]:
X

,Age,Monthly Income,gender_Female,gender_Male,tier_Tier 1,tier_Tier 2,tier_Tier 3
0,42,7313,1,0,1,0,0
1,24,17747,1,0,0,1,0
2,47,22845,0,1,0,1,0
3,50,18552,1,0,1,0,0
4,60,14439,1,0,0,1,0
...,...,...,...,...,...,...,...
2357,50,5705,0,1,0,1,0
2358,35,11202,0,1,0,1,0
2359,27,21335,1,0,0,0,1
2360,45,19294,1,0,1,0,0
2361,46,2855,0,1,1,0,0

In [24]:
y

0       4198.385084
1       4134.976648
2       5166.614455
3       7784.447676
4       3254.160485
           ...
2357    2909.619546
2358    7968.633136
2359    8816.406448
2360    7915.595856
2361    6832.401686
Name: Total Spend, Length: 2362, dtype: float64

In [25]:
from sklearn.linear_model import LinearRegression

modelo = LinearRegression()

modelo.fit(X, y)

LinearRegression()

In [26]:
modelo.intercept_

3438.284541625676

In [27]:
modelo.coef_

array([   7.08070485,    0.1526704 ,  -97.83402512,   97.83402512,
        121.73598683,  -20.39003665, -101.34595018])

In [28]:
modelo.score(X,y)

0.19554539778179292

In [29]:
from sklearn.linear_model import LinearRegression

modelo = LinearRegression()

modelo.fit(X[['Monthly Income']], y)

LinearRegression()

In [30]:
modelo.score(X[['Monthly Income']],y)

0.1923902210009829

In [31]:
from sklearn.feature_selection import RFE
from sklearn.svm import SVR


# estimador
estimador = SVR(kernel='linear')
selector = RFE(estimator=estimador, n_features_to_select=2, step=1)

In [32]:
selector.fit(X, y)

RFE(estimator=SVR(kernel='linear'), n_features_to_select=2)

In [34]:
selector.support_

array([False, False, False,  True,  True, False, False])

In [36]:
X

,Age,Monthly Income,gender_Female,gender_Male,tier_Tier 1,tier_Tier 2,tier_Tier 3
0,42,7313,1,0,1,0,0
1,24,17747,1,0,0,1,0
2,47,22845,0,1,0,1,0
3,50,18552,1,0,1,0,0
4,60,14439,1,0,0,1,0
...,...,...,...,...,...,...,...
2357,50,5705,0,1,0,1,0
2358,35,11202,0,1,0,1,0
2359,27,21335,1,0,0,0,1
2360,45,19294,1,0,1,0,0
2361,46,2855,0,1,1,0,0

In [37]:
from sklearn.linear_model import LinearRegression

modelo = LinearRegression()

modelo.fit(X[['tier_Tier 1', 'gender_Male']], y)

LinearRegression()

In [41]:
modelo.score(X[['tier_Tier 1', 'gender_Male']], y)

0.0018853878604651042

In [42]:
X[['tier_Tier 1', 'gender_Male']]

      tier_Tier 1  gender_Male
0               1            0
1               0            0
2               0            1
3               1            0
4               0            0
...           ...          ...
2357            0            1
2358            0            1
2359            0            0
2360            1            0
2361            1            1

[2362 rows x 2 columns]