# Introducción a Pandas

Esta es una introducción al paquete pandas, de uso común en ciencia de datos, significa *panel data* es un término de econometría; conjuntos de datos en intervalos temporales.

In [8]:
variable_python = "Alfonso"

In [9]:
print(variable_python)

Alfonso

Case:

- TitleCase: dotnet
- camelCase: java, javascript
- snake_case: python
- kebap-case: css

In [13]:
# esto es un comentario
# lo siguiente es una función
def hola_mundo():
    return "hola mundo"

In [15]:
hola_mundo()

'hola mundo'

# Instalar pandas

```bash
pip install pandas
```

```bash
conda install pandas
```

In [17]:
import pandas as pd
import numpy as np

# Series - Dataframes

Las *series* son columnas de datos. Un *dataframe* es una matriz compuesta de varias series (columnas). Vamos a crear un dataframe:

In [20]:
ventas = {
    "libros": [3, 2, 1, 0], 
    "discos": [0,1,2,3]
}

In [21]:
ventas

{'libros': [3, 2, 1, 0], 'discos': [0, 1, 2, 3]}

In [23]:
ventas_df = pd.DataFrame(ventas)

In [25]:
ventas_df

   libros  discos
0       3       0
1       2       1
2       1       2
3       0       3

In [26]:
ventas_df.head() # devuelve los cinco primeros elementos

   libros  discos
0       3       0
1       2       1
2       1       2
3       0       3

In [28]:
ventas_df.head(2) # devuelve los dos primeros

   libros  discos
0       3       0
1       2       1

In [33]:
ventas_df[ ['libros'] ]

   libros
0       3
1       2
2       1
3       0

ventas_df[['discos','libros' ]]

In [38]:
ventas_df = ventas_df[['discos','libros' ]]

In [40]:
ventas_df

   discos  libros
0       0       3
1       1       2
2       2       1
3       3       0

In [41]:
ventas_df.describe()

         discos    libros
count  4.000000  4.000000
mean   1.500000  1.500000
std    1.290994  1.290994
min    0.000000  0.000000
25%    0.750000  0.750000
50%    1.500000  1.500000
75%    2.250000  2.250000
max    3.000000  3.000000

In [43]:
ventas_df

   discos  libros
0       0       3
1       1       2
2       2       1
3       3       0

In [44]:
ventas_df = pd.DataFrame(ventas, index = ['Q1', 'Q2', 'Q3', 'Q4'])

In [46]:
ventas_df

    libros  discos
Q1       3       0
Q2       2       1
Q3       1       2
Q4       0       3

In [49]:
imdb = pd.read_csv('https://raw.githubusercontent.com/afoone/caipc-mar-2023/master/data/IMDB-Movie-Data.csv')

In [51]:
imdb.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [52]:
imdb.describe()

,Rank,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
count,1000.000000,1000.000000,1000.000000,1000.000000,1.000000e+03,872.000000,936.000000
mean,500.500000,2012.783000,113.172000,6.723200,1.698083e+05,82.956376,58.985043
std,288.819436,3.205962,18.810908,0.945429,1.887626e+05,103.253540,17.194757
min,1.000000,2006.000000,66.000000,1.900000,6.100000e+01,0.000000,11.000000
25%,250.750000,2010.000000,100.000000,6.200000,3.630900e+04,13.270000,47.000000
50%,500.500000,2014.000000,111.000000,6.800000,1.107990e+05,47.985000,59.500000
75%,750.250000,2016.000000,123.000000,7.400000,2.399098e+05,113.715000,72.000000
max,1000.000000,2016.000000,191.000000,9.000000,1.791916e+06,936.630000,100.000000

In [54]:
imdb.to_json('data/imdb.json')
# imdb.to_csv('data/imdb.csv')

In [55]:
imdb.tail()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
995,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

In [56]:
imdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                1000 non-null   int64
 1   Title               1000 non-null   object
 2   Genre               1000 non-null   object
 3   Description         1000 non-null   object
 4   Director            1000 non-null   object
 5   Actors              1000 non-null   object
 6   Year                1000 non-null   int64
 7   Runtime (Minutes)   1000 non-null   int64
 8   Rating              1000 non-null   float64
 9   Votes               1000 non-null   int64
 10  Revenue (Millions)  872 non-null    float64
 11  Metascore           936 non-null    float64
dtypes: float64(3), int64(4), object(5)
memory usage: 93.9+ KB

In [58]:
imdb.shape

(1000, 12)

In [59]:
imdb.shape[0]

1000

In [60]:
arr = [1,2,3,4]

In [61]:
arr[0]

1

In [63]:
arr[3]

4

In [64]:
arr[4]

IndexError: list index out of range

# Duplicados

En el csv no hay duplicados pero lo vamos a forzar

In [65]:
duplicate_df = pd.concat([imdb, imdb], axis = 0) # concatenar por filas

In [66]:
duplicate_df.shape

(2000, 12)

In [67]:
pd.concat([imdb, imdb], axis = 1).shape # concatenar por columnas

(1000, 24)

In [71]:
duplicate_df.drop_duplicates().shape

(1000, 12)

In [70]:
duplicate_df.shape

(2000, 12)

In [72]:
# para modificar duplicate_df 
# duplicate_df = duplicate_df.drop_duplicates()
duplicate_df.drop_duplicates(inplace = True) # personalmente no me gusta

In [74]:
duplicate_df.shape

(1000, 12)

In [75]:
imdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                1000 non-null   int64
 1   Title               1000 non-null   object
 2   Genre               1000 non-null   object
 3   Description         1000 non-null   object
 4   Director            1000 non-null   object
 5   Actors              1000 non-null   object
 6   Year                1000 non-null   int64
 7   Runtime (Minutes)   1000 non-null   int64
 8   Rating              1000 non-null   float64
 9   Votes               1000 non-null   int64
 10  Revenue (Millions)  872 non-null    float64
 11  Metascore           936 non-null    float64
dtypes: float64(3), int64(4), object(5)
memory usage: 93.9+ KB

In [78]:
imdb[['Director', 'Title']]

                 Director                    Title
0              James Gunn  Guardians of the Galaxy
1            Ridley Scott               Prometheus
2      M. Night Shyamalan                    Split
3    Christophe Lourdelet                     Sing
4              David Ayer            Suicide Squad
..                    ...                      ...
995             Billy Ray     Secret in Their Eyes
996              Eli Roth          Hostel: Part II
997            Jon M. Chu   Step Up 2: The Streets
998        Scot Armstrong             Search Party
999      Barry Sonnenfeld               Nine Lives

[1000 rows x 2 columns]

In [78]:
imdb[['Director', 'Title']]

                 Director                    Title
0              James Gunn  Guardians of the Galaxy
1            Ridley Scott               Prometheus
2      M. Night Shyamalan                    Split
3    Christophe Lourdelet                     Sing
4              David Ayer            Suicide Squad
..                    ...                      ...
995             Billy Ray     Secret in Their Eyes
996              Eli Roth          Hostel: Part II
997            Jon M. Chu   Step Up 2: The Streets
998        Scot Armstrong             Search Party
999      Barry Sonnenfeld               Nine Lives

[1000 rows x 2 columns]

In [80]:
imdb['Runtime (Minutes)']

0      121
1      124
2      117
3      108
4      123
      ...
995    111
996     94
997     98
998     93
999     87
Name: Runtime (Minutes), Length: 1000, dtype: int64

In [82]:
imdb.columns

Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

In [83]:
imdb.columns = ['rank', 'title', 'genre', 'description', 'director', 'actors', 'year',
       'runtime', 'rating', 'votes', 'revenue',
       'metascore']

In [84]:
imdb.head()

,rank,title,genre,description,director,actors,year,runtime,rating,votes,revenue,metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [95]:
imdb = imdb.rename(
    columns = {
        'description': 'desc',
        'metascore': 'score'
    }
)

In [96]:
imdb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   rank      1000 non-null   int64
 1   title     1000 non-null   object
 2   genre     1000 non-null   object
 3   desc      1000 non-null   object
 4   director  1000 non-null   object
 5   actors    1000 non-null   object
 6   year      1000 non-null   int64
 7   runtime   1000 non-null   int64
 8   rating    1000 non-null   float64
 9   votes     1000 non-null   int64
 10  revenue   872 non-null    float64
 11  score     936 non-null    float64
dtypes: float64(3), int64(4), object(5)
memory usage: 101.6+ KB

# Valores nulos 

- Reemplazarlos por valores no nulos
- Eliminarlos

In [98]:
imdb.isnull()

,rank,title,genre,desc,director,actors,year,runtime,rating,votes,revenue,score
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
995,False,False,False,False,False,False,False,False,False,False,True,False
996,False,False,False,False,False,False,False,False,False,False,False,False
997,False,False,False,False,False,False,False,False,False,False,False,False
998,False,False,False,False,False,False,False,False,False,False,True,False
999,False,False,False,False,False,False,False,False,False,False,False,False

In [99]:
imdb.tail()

,rank,title,genre,desc,director,actors,year,runtime,rating,votes,revenue,score
995,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

In [101]:
imdb.isnull().sum(axis=0)

rank          0
title         0
genre         0
desc          0
director      0
actors        0
year          0
runtime       0
rating        0
votes         0
revenue     128
score        64
dtype: int64

In [107]:
imdb.isnull().sum(axis=1)

0      0
1      0
2      0
3      0
4      0
      ..
995    1
996    0
997    0
998    1
999    0
Length: 1000, dtype: int64

In [110]:
imdb.dropna().isnull().sum()

rank        0
title       0
genre       0
desc        0
director    0
actors      0
year        0
runtime     0
rating      0
votes       0
revenue     0
score       0
dtype: int64

In [111]:
imdb.shape

(1000, 12)

In [115]:
imdb.dropna(axis=1).isnull().sum()

rank        0
title       0
genre       0
desc        0
director    0
actors      0
year        0
runtime     0
rating      0
votes       0
dtype: int64

In [117]:
revenue = imdb['revenue']

In [118]:
revenue.mean()

82.95637614678898

In [119]:
revenue.sum()

72337.95999999999

In [122]:
imdb[['rank', 'revenue', 'votes' ]].mean()

rank          500.500000
revenue        82.956376
votes      169808.255000
dtype: float64

In [124]:
revenue = revenue.fillna(revenue.mean())

In [125]:
revenue

0      333.130000
1      126.460000
2      138.120000
3      270.320000
4      325.020000
          ...
995     82.956376
996     17.540000
997     58.010000
998     82.956376
999     19.640000
Name: revenue, Length: 1000, dtype: float64

In [127]:
imdb['revenue'] = revenue

In [128]:
imdb.tail()

,rank,title,genre,desc,director,actors,year,runtime,rating,votes,revenue,score
995,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,82.956376,45.0
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.540000,46.0
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.010000,50.0
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,82.956376,22.0
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.640000,11.0

In [129]:
imdb.isnull().sum()

rank         0
title        0
genre        0
desc         0
director     0
actors       0
year         0
runtime      0
rating       0
votes        0
revenue      0
score       64
dtype: int64

In [130]:
imdb['director'].describe()

count             1000
unique             644
top       Ridley Scott
freq                 8
Name: director, dtype: object

In [132]:
imdb['director'].value_counts().head(10)

Ridley Scott          8
David Yates           6
M. Night Shyamalan    6
Paul W.S. Anderson    6
Michael Bay           6
Zack Snyder           5
Denis Villeneuve      5
Woody Allen           5
Peter Berg            5
Danny Boyle           5
Name: director, dtype: int64

In [133]:
imdb['revenue'].describe()

count    1000.000000
mean       82.956376
std        96.412043
min         0.000000
25%        17.442500
50%        60.375000
75%        99.177500
max       936.630000
Name: revenue, dtype: float64

In [136]:
imdb[['rank', 'year',
       'runtime', 'rating', 'votes', 'revenue', 'score']].corr()

             rank      year   runtime    rating     votes   revenue     score
rank     1.000000 -0.261605 -0.221739 -0.219555 -0.283876 -0.252996 -0.191869
year    -0.261605  1.000000 -0.164900 -0.211219 -0.411904 -0.117562 -0.079305
runtime -0.221739 -0.164900  1.000000  0.392214  0.407062  0.247834  0.211978
rating  -0.219555 -0.211219  0.392214  1.000000  0.511537  0.189527  0.631897
votes   -0.283876 -0.411904  0.407062  0.511537  1.000000  0.607941  0.325684
revenue -0.252996 -0.117562  0.247834  0.189527  0.607941  1.000000  0.133328
score   -0.191869 -0.079305  0.211978  0.631897  0.325684  0.133328  1.000000

# Trabajar con columnas

In [137]:
genre = imdb['genre']

In [138]:
genre

0       Action,Adventure,Sci-Fi
1      Adventure,Mystery,Sci-Fi
2               Horror,Thriller
3       Animation,Comedy,Family
4      Action,Adventure,Fantasy
                 ...
995         Crime,Drama,Mystery
996                      Horror
997         Drama,Music,Romance
998            Adventure,Comedy
999       Comedy,Family,Fantasy
Name: genre, Length: 1000, dtype: object

In [139]:
type(genre)

pandas.core.series.Series

In [141]:
type(imdb[['genre']])

pandas.core.frame.DataFrame

# Trabajar con filas

In [146]:
imdb.loc[56]

rank                                                       57
title                                           Don't Breathe
genre                                   Crime,Horror,Thriller
desc        Hoping to walk away with a massive fortune, a ...
director                                         Fede Alvarez
actors      Stephen Lang, Jane Levy, Dylan Minnette, Danie...
year                                                     2016
runtime                                                    88
rating                                                    7.2
votes                                                  121103
revenue                                                 89.21
score                                                    71.0
Name: 56, dtype: object

In [147]:
imdb

,rank,title,genre,desc,director,actors,year,runtime,rating,votes,revenue,score
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.130000,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.460000,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.120000,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.320000,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.020000,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,82.956376,45.0
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.540000,46.0
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.010000,50.0
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,82.956376,22.0
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.640000,11.0

In [148]:
imdb = pd.read_csv('https://raw.githubusercontent.com/afoone/caipc-mar-2023/master/data/IMDB-Movie-Data.csv',
                      index_col=1
                  )

In [149]:
imdb

,Rank,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Title,,,,,,,,,,,
Guardians of the Galaxy,1,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
Split,3,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
Sing,4,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
Suicide Squad,5,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
...,...,...,...,...,...,...,...,...,...,...,...
Secret in Their Eyes,996,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0
Hostel: Part II,997,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
Step Up 2: The Streets,998,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
Search Party,999,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
Nine Lives,1000,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

In [151]:
imdb.loc['Split']

Rank                                                                  3
Genre                                                   Horror,Thriller
Description           Three girls are kidnapped by a man with a diag...
Director                                             M. Night Shyamalan
Actors                James McAvoy, Anya Taylor-Joy, Haley Lu Richar...
Year                                                               2016
Runtime (Minutes)                                                   117
Rating                                                              7.3
Votes                                                            157606
Revenue (Millions)                                               138.12
Metascore                                                          62.0
Name: Split, dtype: object

In [152]:
type(imdb.loc['Split'])

pandas.core.series.Series

In [153]:
imdb.loc['Split']['Rating']

7.3

In [154]:
imdb.iloc[0] # la que está en primera posición

Rank                                                                  1
Genre                                           Action,Adventure,Sci-Fi
Description           A group of intergalactic criminals are forced ...
Director                                                     James Gunn
Actors                Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...
Year                                                               2014
Runtime (Minutes)                                                   121
Rating                                                              8.1
Votes                                                            757074
Revenue (Millions)                                               333.13
Metascore                                                          76.0
Name: Guardians of the Galaxy, dtype: object