# Multivariante

Hasta ahora, hemos intentado predecir con una variable (`accommodates` y `bedrooms`)

Dos formas de intentar mejorar la precisión:

1. Cambiar el valor de k (cambio de hiperparámetros)
2. Cambiar las variables, incluso incrementando el número de variables, p.ej [`accommodates`, `bedrooms`,  `bathrooms`]


Lo que vamos a hacer en el multivariante es añadir columnas al modelo. Por el momento tienen que ser columnas:

- numéricas
- no nulas (el cálculo de la distancia no nos lo va a permitir)
- no ordinales - tenemos que quitar las variables en las que '2' no represente más que '1', por ejemplo, el id no representa un valor que siendo mayor o menor implique algo; lo mismo con host_id, scrape_id y la latitud y la longitud....

In [1]:
import pandas as pd
import numpy as np
import math

In [2]:
valencia = pd.read_csv('https://raw.githubusercontent.com/afoone/caipc-mar-2023/master/data/airbnb.csv')

In [3]:
valencia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6711 entries, 0 to 6710
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            6711 non-null   int64
 1   listing_url                                   6711 non-null   object
 2   scrape_id                                     6711 non-null   int64
 3   last_scraped                                  6711 non-null   object
 4   source                                        6711 non-null   object
 5   name                                          6711 non-null   object
 6   description                                   6558 non-null   object
 7   neighborhood_overview                         3759 non-null   object
 8   picture_url                                   6711 non-null   object
 9   host_id                                       6711 non-null   int64
 10  host_url                                      6711 non-null   object
 11  host_name                                     6711 non-null   object
 12  host_since                                    6711 non-null   object
 13  host_location                                 5012 non-null   object
 14  host_about                                    3551 non-null   object
 15  host_response_time                            5937 non-null   object
 16  host_response_rate                            5937 non-null   object
 17  host_acceptance_rate                          6403 non-null   object
 18  host_is_superhost                             6711 non-null   object
 19  host_thumbnail_url                            6711 non-null   object
 20  host_picture_url                              6711 non-null   object
 21  host_neighbourhood                            2636 non-null   object
 22  host_listings_count                           6711 non-null   int64
 23  host_total_listings_count                     6711 non-null   int64
 24  host_verifications                            6711 non-null   object
 25  host_has_profile_pic                          6711 non-null   object
 26  host_identity_verified                        6711 non-null   object
 27  neighbourhood                                 3759 non-null   object
 28  neighbourhood_cleansed                        6711 non-null   object
 29  neighbourhood_group_cleansed                  6711 non-null   object
 30  latitude                                      6711 non-null   float64
 31  longitude                                     6711 non-null   float64
 32  property_type                                 6711 non-null   object
 33  room_type                                     6711 non-null   object
 34  accommodates                                  6711 non-null   int64
 35  bathrooms                                     0 non-null      float64
 36  bathrooms_text                                6707 non-null   object
 37  bedrooms                                      6243 non-null   float64
 38  beds                                          6641 non-null   float64
 39  amenities                                     6711 non-null   object
 40  price                                         6711 non-null   object
 41  minimum_nights                                6711 non-null   int64
 42  maximum_nights                                6711 non-null   int64
 43  minimum_minimum_nights                        6711 non-null   int64
 44  maximum_minimum_nights                        6711 non-null   int64
 45  minimum_maximum_nights                        6711 non-null   int64
 46  maximum_maximum_nights                        6711 non-null   int64
 47  minimum_nights_avg_ntm                        6711 non-null   float64
 48  maximum_nights_avg_ntm                        6711 non-null   float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              6711 non-null   object
 51  availability_30                               6711 non-null   int64
 52  availability_60                               6711 non-null   int64
 53  availability_90                               6711 non-null   int64
 54  availability_365                              6711 non-null   int64
 55  calendar_last_scraped                         6711 non-null   object
 56  number_of_reviews                             6711 non-null   int64
 57  number_of_reviews_ltm                         6711 non-null   int64
 58  number_of_reviews_l30d                        6711 non-null   int64
 59  first_review                                  5875 non-null   object
 60  last_review                                   5875 non-null   object
 61  review_scores_rating                          5875 non-null   float64
 62  review_scores_accuracy                        5864 non-null   float64
 63  review_scores_cleanliness                     5864 non-null   float64
 64  review_scores_checkin                         5864 non-null   float64
 65  review_scores_communication                   5864 non-null   float64
 66  review_scores_location                        5864 non-null   float64
 67  review_scores_value                           5864 non-null   float64
 68  license                                       1894 non-null   object
 69  instant_bookable                              6711 non-null   object
 70  calculated_host_listings_count                6711 non-null   int64
 71  calculated_host_listings_count_entire_homes   6711 non-null   int64
 72  calculated_host_listings_count_private_rooms  6711 non-null   int64
 73  calculated_host_listings_count_shared_rooms   6711 non-null   int64
 74  reviews_per_month                             5875 non-null   float64
dtypes: float64(16), int64(23), object(36)
memory usage: 3.8+ MB

In [4]:
## limpiar los datos

# corregir el price (tiene $ y no es numérico)
valencia['price'] = valencia['price'].apply(lambda x: x.replace('$', '').replace(',', '')).astype('float')

valencia = valencia[valencia['price']<700]

In [5]:
# barajar

np.random.seed(3837980)
valencia = valencia.iloc[
    np.random.permutation(len(valencia))
]

In [6]:
valencia.shape

(6493, 75)

In [7]:
valencia.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6493 entries, 5738 to 2287
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            6493 non-null   int64
 1   listing_url                                   6493 non-null   object
 2   scrape_id                                     6493 non-null   int64
 3   last_scraped                                  6493 non-null   object
 4   source                                        6493 non-null   object
 5   name                                          6493 non-null   object
 6   description                                   6341 non-null   object
 7   neighborhood_overview                         3567 non-null   object
 8   picture_url                                   6493 non-null   object
 9   host_id                                       6493 non-null   int64
 10  host_url                                      6493 non-null   object
 11  host_name                                     6493 non-null   object
 12  host_since                                    6493 non-null   object
 13  host_location                                 4810 non-null   object
 14  host_about                                    3360 non-null   object
 15  host_response_time                            5730 non-null   object
 16  host_response_rate                            5730 non-null   object
 17  host_acceptance_rate                          6195 non-null   object
 18  host_is_superhost                             6493 non-null   object
 19  host_thumbnail_url                            6493 non-null   object
 20  host_picture_url                              6493 non-null   object
 21  host_neighbourhood                            2447 non-null   object
 22  host_listings_count                           6493 non-null   int64
 23  host_total_listings_count                     6493 non-null   int64
 24  host_verifications                            6493 non-null   object
 25  host_has_profile_pic                          6493 non-null   object
 26  host_identity_verified                        6493 non-null   object
 27  neighbourhood                                 3567 non-null   object
 28  neighbourhood_cleansed                        6493 non-null   object
 29  neighbourhood_group_cleansed                  6493 non-null   object
 30  latitude                                      6493 non-null   float64
 31  longitude                                     6493 non-null   float64
 32  property_type                                 6493 non-null   object
 33  room_type                                     6493 non-null   object
 34  accommodates                                  6493 non-null   int64
 35  bathrooms                                     0 non-null      float64
 36  bathrooms_text                                6489 non-null   object
 37  bedrooms                                      6183 non-null   float64
 38  beds                                          6424 non-null   float64
 39  amenities                                     6493 non-null   object
 40  price                                         6493 non-null   float64
 41  minimum_nights                                6493 non-null   int64
 42  maximum_nights                                6493 non-null   int64
 43  minimum_minimum_nights                        6493 non-null   int64
 44  maximum_minimum_nights                        6493 non-null   int64
 45  minimum_maximum_nights                        6493 non-null   int64
 46  maximum_maximum_nights                        6493 non-null   int64
 47  minimum_nights_avg_ntm                        6493 non-null   float64
 48  maximum_nights_avg_ntm                        6493 non-null   float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              6493 non-null   object
 51  availability_30                               6493 non-null   int64
 52  availability_60                               6493 non-null   int64
 53  availability_90                               6493 non-null   int64
 54  availability_365                              6493 non-null   int64
 55  calendar_last_scraped                         6493 non-null   object
 56  number_of_reviews                             6493 non-null   int64
 57  number_of_reviews_ltm                         6493 non-null   int64
 58  number_of_reviews_l30d                        6493 non-null   int64
 59  first_review                                  5783 non-null   object
 60  last_review                                   5783 non-null   object
 61  review_scores_rating                          5783 non-null   float64
 62  review_scores_accuracy                        5772 non-null   float64
 63  review_scores_cleanliness                     5772 non-null   float64
 64  review_scores_checkin                         5772 non-null   float64
 65  review_scores_communication                   5772 non-null   float64
 66  review_scores_location                        5772 non-null   float64
 67  review_scores_value                           5772 non-null   float64
 68  license                                       1878 non-null   object
 69  instant_bookable                              6493 non-null   object
 70  calculated_host_listings_count                6493 non-null   int64
 71  calculated_host_listings_count_entire_homes   6493 non-null   int64
 72  calculated_host_listings_count_private_rooms  6493 non-null   int64
 73  calculated_host_listings_count_shared_rooms   6493 non-null   int64
 74  reviews_per_month                             5783 non-null   float64
dtypes: float64(17), int64(23), object(35)
memory usage: 3.8+ MB

In [10]:
valencia[['bathrooms', 'bedrooms', 'accommodates']]

      bathrooms  bedrooms  accommodates
5738        NaN       1.0             1
1559        NaN       1.0             2
5461        NaN       2.0             4
25          NaN       1.0             3
3559        NaN       2.0             6
...         ...       ...           ...
5882        NaN       NaN             2
2961        NaN       1.0             1
1550        NaN       3.0             6
2312        NaN       1.0             2
2287        NaN       NaN             2

[6493 rows x 3 columns]

In [14]:
valencia['bathrooms'].isnull().sum()

6493

In [15]:
valencia['bathrooms_text']

5738    1.5 shared baths
1559              1 bath
5461              1 bath
25                1 bath
3559              1 bath
              ...
5882              1 bath
2961      1 private bath
1550              1 bath
2312       1 shared bath
2287              1 bath
Name: bathrooms_text, Length: 6493, dtype: object

In [16]:
valencia['bathrooms_text'].info()

<class 'pandas.core.series.Series'>
Int64Index: 6493 entries, 5738 to 2287
Series name: bathrooms_text
Non-Null Count  Dtype
--------------  -----
6489 non-null   object
dtypes: object(1)
memory usage: 101.5+ KB

In [17]:
valencia['bathrooms_text'].value_counts()

1 bath              2950
2 baths             1087
1 shared bath        957
1.5 baths            483
1 private bath       357
1.5 shared baths     240
2 shared baths       155
2.5 baths             70
3 baths               57
2.5 shared baths      26
3 shared baths        23
4 baths               19
3.5 baths             14
0 shared baths        11
Shared half-bath      10
4 shared baths         8
0 baths                6
5 baths                5
4.5 baths              3
Half-bath              2
5.5 baths              1
4.5 shared baths       1
6.5 baths              1
3.5 shared baths       1
7 baths                1
6 baths                1
Name: bathrooms_text, dtype: int64

In [18]:
def half_bath(x):
    if ('half' in str(x).lower()):
        return '0.5'
    else:
        return x

In [19]:
valencia['bathrooms_text']=valencia['bathrooms_text'].apply(
    lambda x: half_bath(x)
)

In [20]:
valencia['bathrooms_text'].value_counts()

1 bath              2950
2 baths             1087
1 shared bath        957
1.5 baths            483
1 private bath       357
1.5 shared baths     240
2 shared baths       155
2.5 baths             70
3 baths               57
2.5 shared baths      26
3 shared baths        23
4 baths               19
3.5 baths             14
0.5                   12
0 shared baths        11
4 shared baths         8
0 baths                6
5 baths                5
4.5 baths              3
5.5 baths              1
4.5 shared baths       1
6.5 baths              1
3.5 shared baths       1
7 baths                1
6 baths                1
Name: bathrooms_text, dtype: int64

In [23]:
import re

def txt_to_number(x):
    return re.search("[0-9|.]*", str(x)).group(0)

txt_to_number('9.9df')

'9.9'