In [1]:
columns = ['symboling',
'normalized-losses',
'make',
'fuel-type',
'aspiration',
'num-of-doors',
'body-style',
'drive-wheels',
'engine-location',
 'wheel-base',
 'length',
 'width',
 'height',
 'curb-weight',
 'engine-type',
 'num-of-cylinders',
 'engine-size',
 'fuel-system',
 'bore',
 'stroke',
 'compression-ratio',
 'horsepower',
 'peak-rpm',
 'city-mpg',
 'highway-mpg',
 'price']

In [2]:
columns

['symboling',
 'normalized-losses',
 'make',
 'fuel-type',
 'aspiration',
 'num-of-doors',
 'body-style',
 'drive-wheels',
 'engine-location',
 'wheel-base',
 'length',
 'width',
 'height',
 'curb-weight',
 'engine-type',
 'num-of-cylinders',
 'engine-size',
 'fuel-system',
 'bore',
 'stroke',
 'compression-ratio',
 'horsepower',
 'peak-rpm',
 'city-mpg',
 'highway-mpg',
 'price']

In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/afoone/caipc-mar-2023/master/data/imports-85.data', names=columns)

In [5]:
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       205 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               205 non-null    object
 19  stroke             205 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         205 non-null    object
 22  peak-rpm           205 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              205 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

In [7]:
df['num-of-cylinders'].value_counts()

four      159
six        24
five       11
eight       5
two         4
three       1
twelve      1
Name: num-of-cylinders, dtype: int64

In [8]:
df = df.replace('?', np.nan)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  164 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       203 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               201 non-null    object
 19  stroke             201 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         203 non-null    object
 22  peak-rpm           203 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              201 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

In [10]:
df['horsepower'] = df['horsepower'].astype('float')

In [11]:
df['horsepower'].mean()

104.25615763546799

In [12]:
def text_to_number(x):
    if x == 'two':
        return 2
    elif x == 'three':
        return 3
    elif x == 'four':
        return 4
    elif x == 'five':
        return 5
    elif x == 'six':
        return 6
    elif x == 'eight':
        return 8
    elif x == 'twelve':
        return 12
    else:
        return 0

In [13]:
df['num-of-cylinders'] = df['num-of-cylinders'].apply(text_to_number).astype('float')

In [14]:
df['num-of-cylinders'].head()

0    4.0
1    4.0
2    6.0
3    4.0
4    5.0
Name: num-of-cylinders, dtype: float64

In [15]:
df = df.dropna()

df['num-of-doors'].value_counts()

four    95
two     64
Name: num-of-doors, dtype: int64

In [16]:
df['num-of-doors'] = df['num-of-doors'].apply(text_to_number).astype('float')

In [17]:
df['num-of-doors'].value_counts()

4.0    95
2.0    64
Name: num-of-doors, dtype: int64

In [18]:
df.isna().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [20]:
df['price'] = df['price'].astype('float')

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 159 entries, 3 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          159 non-null    int64
 1   normalized-losses  159 non-null    object
 2   make               159 non-null    object
 3   fuel-type          159 non-null    object
 4   aspiration         159 non-null    object
 5   num-of-doors       159 non-null    float64
 6   body-style         159 non-null    object
 7   drive-wheels       159 non-null    object
 8   engine-location    159 non-null    object
 9   wheel-base         159 non-null    float64
 10  length             159 non-null    float64
 11  width              159 non-null    float64
 12  height             159 non-null    float64
 13  curb-weight        159 non-null    int64
 14  engine-type        159 non-null    object
 15  num-of-cylinders   159 non-null    float64
 16  engine-size        159 non-null    int64
 17  fuel-system        159 non-null    object
 18  bore               159 non-null    object
 19  stroke             159 non-null    object
 20  compression-ratio  159 non-null    float64
 21  horsepower         159 non-null    float64
 22  peak-rpm           159 non-null    object
 23  city-mpg           159 non-null    int64
 24  highway-mpg        159 non-null    int64
 25  price              159 non-null    float64
dtypes: float64(9), int64(5), object(12)
memory usage: 33.5+ KB

In [22]:
numeric_variables = [
     'symboling',          
 'num-of-doors',      
 'wheel-base',     
 'length',   
 'width',    
 'height',   
 'curb-weight', 
 'num-of-cylinders',
 'engine-size', 
 'compression-ratio',
 'horsepower',
 'city-mpg', 
 'highway-mpg',
 'price',   ]

In [23]:
numeric_variables

['symboling',
 'num-of-doors',
 'wheel-base',
 'length',
 'width',
 'height',
 'curb-weight',
 'num-of-cylinders',
 'engine-size',
 'compression-ratio',
 'horsepower',
 'city-mpg',
 'highway-mpg',
 'price']

In [24]:
df = df[numeric_variables].copy()

In [28]:
df = df.drop(columns=['symboling'])

In [29]:
df.head()

,num-of-doors,wheel-base,length,width,height,curb-weight,num-of-cylinders,engine-size,compression-ratio,horsepower,city-mpg,highway-mpg,price
3,4.0,99.8,176.6,66.2,54.3,2337,4.0,109,10.0,102.0,24,30,13950.0
4,4.0,99.4,176.6,66.4,54.3,2824,5.0,136,8.0,115.0,18,22,17450.0
6,4.0,105.8,192.7,71.4,55.7,2844,5.0,136,8.5,110.0,19,25,17710.0
8,4.0,105.8,192.7,71.4,55.9,3086,5.0,131,8.3,140.0,17,20,23875.0
10,2.0,101.2,176.8,64.8,54.3,2395,4.0,108,8.8,101.0,23,29,16430.0

In [35]:
X = df[[
 'num-of-doors',
 'wheel-base',
 'length',
 'width',
 'height',
 'curb-weight',
 'num-of-cylinders',
 'engine-size',
 'compression-ratio',
 'horsepower',
 'city-mpg',
 'highway-mpg']].copy()

In [36]:
y = df['price']

In [37]:
X = (X-X.mean())/X.std()

In [38]:
X

,num-of-doors,wheel-base,length,width,height,curb-weight,num-of-cylinders,engine-size,compression-ratio,horsepower,city-mpg,highway-mpg
3,0.818198,0.297218,0.363282,0.304152,0.176585,-0.257580,-0.356727,-0.335724,-0.041428,0.200645,-0.413638,-0.322294
4,0.818198,0.219810,0.363282,0.406828,0.176585,0.752917,1.135894,0.550661,-0.555636,0.623841,-1.397706,-1.560840
6,0.818198,1.458340,1.760466,2.973718,0.793662,0.794415,1.135894,0.550661,-0.427084,0.461073,-1.233695,-1.096385
8,0.818198,1.458340,1.760466,2.973718,0.881816,1.296551,1.135894,0.386516,-0.478505,1.437681,-1.561717,-1.870477
10,-1.214512,0.568146,0.380638,-0.414577,0.176585,-0.137233,-0.356727,-0.368553,-0.349953,0.168091,-0.577650,-0.477113
...,...,...,...,...,...,...,...,...,...,...,...,...
200,0.818198,2.096957,1.422018,1.690273,0.705508,1.018509,-0.356727,0.714807,-0.169980,0.591288,-0.577650,-0.631931
201,0.818198,2.096957,1.422018,1.638935,0.705508,1.219778,-0.356727,0.714807,-0.375663,2.088753,-1.233695,-1.096385
202,0.818198,2.096957,1.422018,1.690273,0.705508,1.143006,2.628515,1.765338,-0.349953,1.242359,-1.397706,-1.406022
203,0.818198,2.096957,1.422018,1.690273,0.705508,1.568369,2.628515,0.846123,3.300926,0.330859,-0.085616,-0.786749
204,0.818198,2.096957,1.422018,1.690273,0.705508,1.246753,-0.356727,0.714807,-0.169980,0.591288,-1.233695,-1.096385

In [41]:
from sklearn.neighbors import KNeighborsRegressor
import math

In [42]:
k_split = math.trunc(len(X)/5)

In [43]:
k_split

31

In [44]:
for i in range(0,5):
    X.loc[X.index[(k_split*i): (k_split*(i+1) if i<4 else len(X))], 'fold'] = i+1

In [46]:
X['fold'].value_counts()

5.0    35
1.0    31
2.0    31
3.0    31
4.0    31
Name: fold, dtype: int64

In [49]:
X['price'] = y

In [50]:
X.head()

,num-of-doors,wheel-base,length,width,height,curb-weight,num-of-cylinders,engine-size,compression-ratio,horsepower,city-mpg,highway-mpg,fold,price
3,0.818198,0.297218,0.363282,0.304152,0.176585,-0.257580,-0.356727,-0.335724,-0.041428,0.200645,-0.413638,-0.322294,1.0,13950.0
4,0.818198,0.219810,0.363282,0.406828,0.176585,0.752917,1.135894,0.550661,-0.555636,0.623841,-1.397706,-1.560840,1.0,17450.0
6,0.818198,1.458340,1.760466,2.973718,0.793662,0.794415,1.135894,0.550661,-0.427084,0.461073,-1.233695,-1.096385,1.0,17710.0
8,0.818198,1.458340,1.760466,2.973718,0.881816,1.296551,1.135894,0.386516,-0.478505,1.437681,-1.561717,-1.870477,1.0,23875.0
10,-1.214512,0.568146,0.380638,-0.414577,0.176585,-0.137233,-0.356727,-0.368553,-0.349953,0.168091,-0.577650,-0.477113,1.0,16430.0

In [51]:
numeric_variables.remove('symboling')

In [52]:
numeric_variables

['num-of-doors',
 'wheel-base',
 'length',
 'width',
 'height',
 'curb-weight',
 'num-of-cylinders',
 'engine-size',
 'compression-ratio',
 'horsepower',
 'city-mpg',
 'highway-mpg',
 'price']

In [55]:
from sklearn.metrics import mean_squared_error

In [57]:
rmse_list = []

for i in range(1,6):
    knn = KNeighborsRegressor()
    knn.fit(
        X[X['fold'] != i][numeric_variables],
        X[X['fold'] != i]['price']
    )
    pred = knn.predict(X[X['fold']==i][numeric_variables])
    rmse = mean_squared_error(X[X['fold']==i]['price'], pred)**0.5
    rmse_list.append(rmse)

In [60]:
np.mean(rmse_list)

910.7270594098181

In [61]:
np.std(rmse_list)

1366.0739454935972

In [62]:
y.describe()

count      159.000000
mean     11445.729560
std       5877.856195
min       5118.000000
25%       7372.000000
50%       9233.000000
75%      14719.500000
max      35056.000000
Name: price, dtype: float64

In [65]:
rmse_list = []

variables = ['engine-size']

for i in range(1,6):
    knn = KNeighborsRegressor()
    knn.fit(
        X[X['fold'] != i][variables],
        X[X['fold'] != i]['price']
    )
    pred = knn.predict(X[X['fold']==i][variables])
    rmse = mean_squared_error(X[X['fold']==i]['price'], pred)**0.5
    rmse_list.append(rmse)
    
np.mean(rmse_list)

4618.190994232679

In [66]:
rmse_list = []

variables = ['engine-size', 'horsepower']

for i in range(1,6):
    knn = KNeighborsRegressor()
    knn.fit(
        X[X['fold'] != i][variables],
        X[X['fold'] != i]['price']
    )
    pred = knn.predict(X[X['fold']==i][variables])
    rmse = mean_squared_error(X[X['fold']==i]['price'], pred)**0.5
    rmse_list.append(rmse)
    
np.mean(rmse_list)

3457.2837083535896

In [69]:
rmse_list = []

variables = ['engine-size', 'horsepower', 'num-of-cylinders']

for i in range(1,6):
    knn = KNeighborsRegressor()
    knn.fit(
        X[X['fold'] != i][variables],
        X[X['fold'] != i]['price']
    )
    pred = knn.predict(X[X['fold']==i][variables])
    rmse = mean_squared_error(X[X['fold']==i]['price'], pred)**0.5
    rmse_list.append(rmse)
    
np.mean(rmse_list)

3317.6137425054394

In [70]:
rmse_list = []

for i in range(1,6):
    knn = KNeighborsRegressor(weights='distance')
    knn.fit(
        X[X['fold'] != i][numeric_variables],
        X[X['fold'] != i]['price']
    )
    pred = knn.predict(X[X['fold']==i][numeric_variables])
    rmse = mean_squared_error(X[X['fold']==i]['price'], pred)**0.5
    rmse_list.append(rmse)
    
np.mean(rmse_list)

856.0655877397918

In [71]:
rmse_list = []

for i in range(1,6):
    knn = KNeighborsRegressor(weights='distance', n_neighbors=3)
    knn.fit(
        X[X['fold'] != i][numeric_variables],
        X[X['fold'] != i]['price']
    )
    pred = knn.predict(X[X['fold']==i][numeric_variables])
    rmse = mean_squared_error(X[X['fold']==i]['price'], pred)**0.5
    rmse_list.append(rmse)
    
np.mean(rmse_list)

788.3982999186007

In [72]:
rmse_list = []

for i in range(1,6):
    knn = KNeighborsRegressor(weights='distance', n_neighbors=2)
    knn.fit(
        X[X['fold'] != i][numeric_variables],
        X[X['fold'] != i]['price']
    )
    pred = knn.predict(X[X['fold']==i][numeric_variables])
    rmse = mean_squared_error(X[X['fold']==i]['price'], pred)**0.5
    rmse_list.append(rmse)
    
np.mean(rmse_list)

799.8876629994352

In [73]:
rmse_list = []

for i in range(1,6):
    knn = KNeighborsRegressor(weights='distance', n_neighbors=4)
    knn.fit(
        X[X['fold'] != i][numeric_variables],
        X[X['fold'] != i]['price']
    )
    pred = knn.predict(X[X['fold']==i][numeric_variables])
    rmse = mean_squared_error(X[X['fold']==i]['price'], pred)**0.5
    rmse_list.append(rmse)
    
np.mean(rmse_list)

809.1213822318111